
export VIRTUAL_ENV=$PWD/.venv

if [[ ! -d $VIRTUAL_ENV ]]; then
    uv sync
fi

PATH_add "$VIRTUAL_ENV/bin"
export VIRTUAL_ENV_PROMPT="($(basename $PWD)) "

# Tell Zsh to source this file
export DIRENV_ZSH_HOOK="$PWD/zsh_functions.sh"

